<div id="teamModal" class="modal">
  <div class="modal-team-content">
    <span class="close-modal-button">&times;</span>
    <div class="modal-wrapper">
      <h2 class="modal-title">Team Flames</h2>
      <div class="leaders">
        <p>Weronika Kin-Grzegorek - Team Leader</p>
        <p>Szymon Konieczny - Scrum Master</p>
      </div>
    </div>
    <div class="developers">
      <h3>Developers</h3>
      <p>Zuzanna Maciejczyk</p>
      <p>Michał Szmajduch</p>
      <p>Mikołaj Bajdalski</p>
      <p>Piotr Dubiel</p>
      <p>Rafał Cegliński</p>
      <p>Stefan Bielak</p>
      <p>Victor Horbatiuk</p>
      <p>Kamil Kucharczyk</p>
    </div>
  </div>
</div>
