<!-- <div class="container">
   <div class="movies"></div>
 </div> -->

<div id="movieModal" class="modal">
  <div class="modal-content">
    <span id="modalCloseButton" class="close-button">&times;</span>
    <div class="left">
      <img class="left__img" alt="Miniatura filmu" id="modalPoster" />
    </div>
    <div class="right">
      <h2 class="right__title" id="modalTitle"></h2>
      <div class="right__description">
        <p class="right__descriptiontitle">
          Vote / Votes<span class="right__summary" id="modalRating"></span>
        </p>
        <p class="right__descriptiontitle">
          Popularity: <span class="right__summary" id="modalPopularity"></span>
        </p>
        <p class="right__descriptiontitle">
          Griginal title: <span class="right__summary" id="modalOriginalTitle"></span>
        </p>
        <p class="right__descriptiontitle">
          Genre: <span class="right__summary" id="modalGenres"></span>
        </p>
      </div>
      <div>
        <p class="right__about">ABOUT</p>
        <span class="right__about-description" id="modalOverview"></span>
      </div>
      <div class="right__button-div">
        <button class="right__button" id="watchlistButton">ADD TO QUEUE</button>
        <button class="right__button" id="watchedButton" data-action="watch">ADD TO WATCHED</button>
        <button class="right__button" id="trailerLink" target="_blank" href="#">
          Watch trailer
        </button>
      </div>
      <div>
        <!-- <button class="right__button" id="trailerLink" target="_blank" href="#">
           Obejrzyj trailer
         </button> -->
        <!-- <a id="trailerLink" target="_blank" href="#">Obejrzyj trailer</a> -->
      </div>
    </div>
  </div>
</div>
