* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  color: getColor('text-2');
  font-weight: 500;
  font-size: 12px;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;

  @include tablet {

   max-width: 768px;
   padding: 45px 32px;


  }
  @include desktop {
    max-width: 1280px;
  }
}
img {
  display: block;
}
