.warning {
  display: none;
}
.header {
  position: fixed;
  z-index: 2;
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include tablet {
      justify-content: space-between;
      align-items: baseline;
    }
  }
  &__svg {
    fill: getColor('deafult-2');
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms ease, box-shadow 200ms ease, border 200ms ease;
  }
  &__svg:hover {
    fill: getColor('active');
    transform: scale(1.1);
  }
  &__wrapper {
    gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    @include desktop {
      gap: 10px;
    }
  }
  &__nav {
    display: flex;
    gap: 40px;
    flex-direction: row;
    padding-left:1px;
    align-items: center;
    @include tablet {
      gap: 20px;
    }
    @include desktop {
      gap: 40px;
    }
  }
  &__underline {
    position: relative;
  }
  &__underline:after {
    content: '';
    position: absolute;
    height: 3px;
    top: 23px;
    left: 0;
    right: 0;
    background-color: getColor('underline');
    border-radius: 2px;
    @include tablet {
      top: 20px;
    }
  }
}

.index-header {
  background-color: getColor('deafult-1');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;

  @media screen and (max-width: 320px) {
    background-image: linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)), url(../images/home-header-bg-320-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
      background-image: linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)), url('../images/home-header-bg-320-2x.jpg');
    }
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    height: 213px;
    background-image: linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)), url(../images/home-header-bg-768-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
      background-image: url('../images/home-header-bg-768-2x.jpg');
    }
  }
  @media screen and (min-width: 769px) {
 
    background-image: linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)),
      url(../images/home-header-bg-1280-3x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)),
        url(../images/../images/home-header-bg-1280-2x.jpg);
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)),
        url(../images/home-header-bg-1280-3x.jpg);
      }
    }
  }


.library-header {
  background-color: getColor('deafult-1');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;

  @media screen and (max-width: 320px) {
    background-image:linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)), url(../images/library-header-bg-320-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
      background-image: url('../images/library-header-bg-320-2x.jpg');
    }
  }
  @media screen and (min-width: 321px) and (max-width: 768px) {
    background-image:linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)), url(../images/library-header-bg-768-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
      background-image:linear-gradient(to right, rgba(19, 19, 19, 0.28), rgba(16, 16, 16, 0.26)), url('../images/library-header-bg-768-2x.jpg');
    }
  }
  @media screen and (min-width: 769px) {
    background-image:radial-gradient(circle, rgba(24,22,23,0.5578606442577031) 16%, rgba(198,77,77,0.06486344537815125) 65%), url('../images/library-header-bg-1280-1x.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
      background-image:radial-gradient(circle, rgba(24,22,23,0.5578606442577031) 16%, rgba(198,77,77,0.06486344537815125) 65%), url('../images/library-header-bg-1280-2x.jpg');
    }
    @media (min-device-pixel-ratio: 3), (min-resolution: 384dpi), (min-resolution: 3dppx) {
      background-image:radial-gradient(circle, rgba(24,22,23,0.5578606442577031) 16%, rgba(198,77,77,0.06486344537815125) 65%),
        url(../images/library-header-bg-1280-3x.jpg);
      }
  }
}

.logo {
  display: none;
  transition: transform 250ms ease, box-shadow 200ms ease, border 250ms ease;
  @include tablet {
    display: block;
    font-size: 30px;
    color: getColor('text-1');
    text-decoration: none;
  }
}
.nav-item {
  text-decoration: none;
  color: getColor('text-1');
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: transform 250ms ease, box-shadow 200ms ease, border 200ms ease;
  @include desktop {
    font-size: 14px;
  }
}
.nav-item:hover,
.nav-item:focus,
.header__wrapper:hover,
.header__wrapper:focus,.logo:hover {
  color: getColor('active');
  transform: scale(1.1);
}

.wrapper-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-form {
  position: relative;
  width: 100%;
  padding-top: 40px;

  @include tablet {
    display: flex;
    max-width: 390px;
    justify-content: center;
  }
  @include desktop {
    max-width: 450px;
  }
}

input {
  background: transparent;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 1);
  color: getColor('text-1');
  outline: transparent;
  transition: transform 250ms ease, box-shadow 200ms ease, border 200ms ease;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
input::placeholder {
  color: getColor('text-1');
  font-size: 14px;
  line-height: 1.14;
}
.search__svg {
  fill: getColor('deafult-2');
  position: absolute;
  bottom: 10px;
  right: 12px;
  &:hover {
    transform: scale(1.2);
  }
}
.buttons {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  @include tablet {
    top: 40px;
  }
}
.button {
  background: transparent;
  color: getColor('text-1');
  border-radius: 5px;
  padding: 14px 35px;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  min-width: 131px;
  transition: transform 250ms ease, box-shadow 200ms ease, border 200ms ease;
  @include tablet {
    min-width: 150px;
  }
}
.button:hover,
button:focus {
  background-color: getColor('button-activebg');
  color: getColor('text-1');
  box-shadow: inset 5px -15px 30px -10px #a7151a;
  border: none;
  transform: scale(1.05);
}
