.warning {
    display: none;
  }
  .header {
    width: 100%;
    border: 1px;
    background: linear-gradient(
        to bottom,
        rgba(47, 48, 58, 0.4),
        rgba(10, 10, 10, 0.73)
      ),
      url(../images/background-home.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 1600px;
  
      background-position: center;
      margin: 0 auto;
      padding:30px 0 ;
  }
  .header__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }
  .header__svg{
    fill:getColor("deafult-2");
  }
.logo{
  display:none;
  @include tablet {
    display:block;
    color: getColor("text-1");
    text-decoration: none;
  }
  @include desktop {
    display:block;
  }
}
.nav-item{
  text-decoration: none;
  color: getColor("text-1");
  line-height: 1.1;
  letter-spacing: 0.02em;
}
  .header__nav {
    display: flex;
    gap:40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
  
      
     
  }
  // .search-form {
  //   display: flex;
  //   justify-content: center;
  // }

  // input {
  //   max-width: 1280px;
  //   width: 100%;
  //   background: none;
  // }
  // .buttons {
  //   display: flex;
  //   justify-content: center;
  //   gap: 20px;
  //   padding: 5vw;
  // }
  // .button {
  //   background: none;
  //   padding: 2vw;
  //   border-radius: 15px;
  // }