body {
  font-family: Arial, sans-serif;
}
.modal-team-content {
  background-image: radial-gradient(circle, rgba(21, 20, 20, 0.7) 45%, rgba(143, 106, 77, 0.6) 100%),
    url(../images/flame2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  animation: slide-up 0.3s;
  text-align: center;
  list-style-type: none;

  @media screen and (min-width: 768px) {
    width: 70%;
  }

  @media screen and (min-width: 1024px) {
    width: 60%;
  }
}

.leaders {
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  padding-bottom: 8px;
  font-size: 24px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 18px;
}
.modal-wrapper:hover,
.developers:hover {
  text-decoration: underline;
  text-transform: uppercase;
}
.close-modal-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}
